{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}

{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<style>
  .drawer {
    visibility: hidden;
  }
</style>

<cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner gradient color-{{ settings.cart_color_scheme }}"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
     >
    
     <div class="drawer__message border-b border-[#D9D9D9]">
        <p class="text-base tracking-[-0.8px] text-center font-medium text-black">
          Mushrooms Are Smart. Day Shrooms Are Smarter.
        </p>
     </div>
      {%- if cart == empty -%}
        <div class="drawer__inner-empty">

          <div class="empty-cart-header py-[1.5rem] relative flex justify-between items-center">
            <h2 class="drawer__heading mb-0 text-lg tracking-[-0.9px] font-semibold">{{ 'sections.cart.title' | t }} ({{ cart.item_count }})</h2>

            <button
              class="drawer__close"
              type="button"
              onclick="this.closest('cart-drawer').close()"
              aria-label="{{ 'accessibility.close' | t }}"
            >
              <span class="svg-wrapper">
                {% comment %} {{- 'icon-close.svg' | inline_asset_content -}} {% endcomment %}
                <svg class="icon icon-close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M20 4L4 20M20 20L4 4" stroke="black" stroke-width="2" stroke-linecap="round"/>
                </svg>
              </span>
            </button>

            <div class="absolute w-full h-[2px] bottom-0 left-0" style="background: linear-gradient(90deg, #F2008C 0%, #E74936 100%);"> </div>

          </div>
          <div class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
            <div class="cart-drawer__empty-content">
              <h2 class="cart__empty-text text-[30px] tracking-[-1.5px] font-semibold leading-none !mb-3">Your Cart is Empty.</h2>
              <p class="text-center text-base tracking-[-0.8px]">
                Let's rethink productivity.
              </p>
              {% comment %} <button
                class="drawer__close"
                type="button"
                onclick="this.closest('cart-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button> {% endcomment %}
              {% comment %} <a href="{{ routes.all_products_collection_url }}" class="button">
                {{ 'general.continue_shopping' | t }}
              </a> {% endcomment %}

              {% comment %} {%- if shop.customer_accounts_enabled and customer == null -%}
                <p class="cart__login-title h3">{{ 'sections.cart.login.title' | t }}</p>
                <p class="cart__login-paragraph">
                  {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                </p>
              {%- endif -%} {% endcomment %}
            </div>
          </div>

          <div class="empty-cart-footer relative flex flex-col items-center justify-center">
            <p class="text-center text-xl tracking-[-1px] font-semibold text-black">
              Coffee's Out. Shrooms Are In.
            </p>
            <!-- Product Image -->
            <img class="w-4/5" src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/mush--product-img--cart.jpg?v=1752044448" alt="">

            <a href="/products/day-shrooms" class="btn btn-primary block w-fit mx-auto">
                TRY DAY SHROOMS
            </a>
          </div>



          {% comment %} {%- if settings.cart_drawer_collection != blank -%}
            <div class="cart-drawer__collection">
              {% render 'card-collection', card_collection: settings.cart_drawer_collection, columns: 1 %}
            </div>
          {%- endif -%} {% endcomment %}
        </div>
      {%- endif -%}
      <div class="drawer__header relative">
        <h2 class="drawer__heading mb-0 text-lg tracking-[-0.9px] font-semibold">{{ 'sections.cart.title' | t }} ({{ cart.item_count }})</h2>
        
        <button
          class="drawer__close"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <span class="svg-wrapper">
            {% comment %} {{- 'icon-close.svg' | inline_asset_content -}} {% endcomment %}
            <svg class="icon icon-close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M20 4L4 20M20 20L4 4" stroke="black" stroke-width="2" stroke-linecap="round"/>
            </svg>
          </span>
        </button>


        <div class="absolute w-full h-[2px] bottom-0 left-0" style="background: linear-gradient(90deg, #F2008C 0%, #E74936 100%);">

        </div>
      </div>
      <cart-drawer-items
        {% if cart == empty %}
          class=" is-empty"
        {% endif %}
        >
        <form
          action="{{ routes.cart_url }}"
          id="CartDrawer-Form"
          class="cart__contents cart-drawer__form"
          method="post"
        >
          <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
            {%- if cart != empty -%}
              <div class="drawer__cart-items-wrapper">
                <div class="cart-items" role="table">

                  <div class="cart-item-wrapper">
                    {%- for item in cart.items -%}
                      <div class="flex gap-5 items-center">
                        <!-- Item Image -->
                        <div class="cart-item__media w-[100px]" role="cell" headers="CartDrawer-ColumnProductImage">
                          {% if item.image %}
                            {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                            <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                            <img
                              class="cart-item__image"
                              src="{{ item.image | image_url: width: 300 }}"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="150"
                              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                            >
                          {% endif %}
                        </div>

                        <!-- Item Details -->
                        <div class="cart-item__details !w-full">
                          <div class="flex justify-between items-center w-full mb-3">
                            <a href="{{ item.url }}" class="cart-item__name text-lg tracking-[-0.9px] font-bold break">
                              {{- item.product.title | escape -}}
                            </a>
                            <cart-remove-button
                              id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                              data-index="{{ item.index | plus: 1 }}"
                            >
                              <button
                                type="button"
                                class="button_ button--tertiary_ cart-remove-button"
                                aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                                data-variant-id="{{ item.variant.id }}"
                              >
                                <span class="svg-wrapper">
                                  {% comment %} {{- 'icon-remove.svg' | inline_asset_content -}} {% endcomment %}
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M4 6.17647H20M9 3H15M10 16.7647V10.4118M14 16.7647V10.4118M15.5 21H8.5C7.39543 21 6.5 20.0519 6.5 18.8824L6.0434 7.27937C6.01973 6.67783 6.47392 6.17647 7.04253 6.17647H16.9575C17.5261 6.17647 17.9803 6.67783 17.9566 7.27937L17.5 18.8824C17.5 20.0519 16.6046 21 15.5 21Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                                </span>
                              </button>
                            </cart-remove-button>
                          </div>


                          <div class="flex justify-between items-center w-full">
                            <quantity-input class="quantity cart-quantity">
                              <button class="quantity__button" name="minus" type="button">
                                <span class="visually-hidden">
                                  {{-
                                    'products.product.quantity.decrease'
                                    | t: product: item.product.title
                                    | escape
                                  -}}
                                </span>
                                <span class="svg-wrapper">
                                  {{- 'icon-minus.svg' | inline_asset_content -}}
                                </span>
                              </button>
                              <input
                                class="quantity__input"
                                type="number"
                                data-quantity-variant-id="{{ item.variant.id }}"
                                name="updates[]"
                                value="{{ item.quantity }}"
                                {% # theme-check-disable %}
                                data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                min="0"
                                data-min="{{ item.variant.quantity_rule.min }}"
                                data-max="2"
                                max="2"
                                step="{{ item.variant.quantity_rule.increment }}"
                                {% # theme-check-enable %}
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                              <button class="quantity__button" name="plus" type="button">
                                <span class="visually-hidden">
                                  {{-
                                    'products.product.quantity.increase'
                                    | t: product: item.product.title
                                    | escape
                                  -}}
                                </span>
                                <span class="svg-wrapper">
                                  {{- 'icon-plus.svg' | inline_asset_content -}}
                                </span>
                              </button>
                            </quantity-input>


                            <div class="product-option_ text-lg tracking-[-0.9px] font-bold">
                              {{ item.original_price | money }}
                            </div>

                          </div>
                          



                        </div>

                      </div>
                      
                    {%- endfor -%}
                  </div>
                  
                </div>
              </div>
            {%- endif -%}
            <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
            <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
              {{ 'accessibility.loading' | t }}
            </p>
          </div>
          <div id="CartDrawer-CartErrors" role="alert"></div>
        </form>
      </cart-drawer-items>
      <div class="drawer__footer">
        {%- if settings.show_cart_note -%}
          <details id="Details-CartDrawer">
            <summary>
              <span class="summary__title">
                {{ 'sections.cart.note' | t }}
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </summary>
            <cart-note class="cart__note field">
              <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
              <textarea
                id="CartDrawer-Note"
                class="text-area text-area--resize-vertical field__input"
                name="note"
                placeholder="{{ 'sections.cart.note' | t }}"
              >{{ cart.note }}</textarea>
            </cart-note>
          </details>
        {%- endif -%}

        <!-- Start blocks -->
        <!-- Subtotals -->

        <div class="cart-drawer__footer" {{ block.shopify_attributes }}>
          <div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="discounts__discount discounts__discount--end">
                    {{- 'icon-discount.svg' | inline_asset_content -}}
                    {{ discount.title | escape }}
                    (-{{ discount.total_allocated_amount | money }})
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

          <div class="totals" role="status">
            <p class="totals__total_ text-black text-xl tracking-[-1px] font-semibold">Subtotal </p>
            <p class="totals__total-value_ text-black text-xl tracking-[-1px] font-medium">{{ cart.total_price | money }}</p>
          </div>
          <div class="totals" role="status">
            <p class="totals__total_ text-black text-xl tracking-[-1px] font-semibold">Shipping </p>
            <p class="totals__total-value_ text-black text-xl tracking-[-1px] font-semibold">Free</p>
          </div>

          <small class="tax-note caption-large rte !hidden">
            {%- if cart.duties_included and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- endif -%}
          </small>
        </div>

        <!-- CTAs -->
        

        <div class="mt-4 hidden">
          {%- if additional_checkout_buttons -%}
            <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </div>
          {%- endif -%}
        </div>
        

        <div class="cart__ctas" {{ block.shopify_attributes }}>
        
          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="cart__checkout-button_ button_ btn btn-primary mt-6 mb-4"
            name="checkout"
            form="CartDrawer-Form"
            {% if cart == empty %}
              disabled
            {% endif %}
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
        </div>




        <!-- Gurantee Callout -->
        <p class="text-center text-base tracking-[-0.8px] font-medium uppercase">
          30-day Guarantee 
        </p>
      </div>
    </div>
  </div>
</cart-drawer>
