{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}


<style>
  .js .menu-drawer{
    height: 100dvh !important;
  }


  .menu-drawer {
    position: fixed !important;
    top: 0 !important;
    z-index: 100;

  }

  .menu-drawer__navigation{
    padding: 44px 36px !important;
  }
</style>

<header-drawer class="w-full" data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
      >
      <span>
        {% comment %} {{- 'icon-hamburger.svg' | inline_asset_content -}} {% endcomment %}

        {% if template.name == "blog" %}
          <svg class="icon icon-hamburger" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
            <path d="M16.8817 15.1949H3.375M16.8817 10.1299H3.375M16.8817 5.06494H3.375" stroke="white" stroke-width="2" stroke-linecap="round"/>
          </svg>
        {% else %}
          <svg  class="icon icon-hamburger" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
            <path d="M16.8836 15.1949H3.37695M16.8836 10.1299H3.37695M16.8836 5.06494H3.37695" stroke="black" stroke-width="2" stroke-linecap="round"/>
          </svg>
        {% endif %}



        {% comment %} {{- 'icon-close.svg' | inline_asset_content -}} {% endcomment %}
        <svg class="icon icon-close" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
          <path d="M23.8336 14.2877C24.4194 13.7019 24.4194 12.7522 23.8336 12.1664C23.2478 11.5806 22.2981 11.5806 21.7123 12.1664L23.8336 14.2877ZM12.1664 21.7123C11.5806 22.2981 11.5806 23.2478 12.1664 23.8336C12.7522 24.4194 13.7019 24.4194 14.2877 23.8336L12.1664 21.7123ZM21.7123 23.8336C22.2981 24.4194 23.2478 24.4194 23.8336 23.8336C24.4194 23.2478 24.4194 22.2981 23.8336 21.7123L21.7123 23.8336ZM14.2877 12.1664C13.7019 11.5806 12.7522 11.5806 12.1664 12.1664C11.5806 12.7522 11.5806 13.7019 12.1664 14.2877L14.2877 12.1664ZM30 18C30 24.6274 24.6274 30 18 30V33C26.2843 33 33 26.2843 33 18H30ZM18 30C11.3726 30 6 24.6274 6 18H3C3 26.2843 9.71573 33 18 33V30ZM6 18C6 11.3726 11.3726 6 18 6V3C9.71573 3 3 9.71573 3 18H6ZM18 6C24.6274 6 30 11.3726 30 18H33C33 9.71573 26.2843 3 18 3V6ZM21.7123 12.1664L16.9393 16.9393L19.0607 19.0607L23.8336 14.2877L21.7123 12.1664ZM16.9393 16.9393L12.1664 21.7123L14.2877 23.8336L19.0607 19.0607L16.9393 16.9393ZM23.8336 21.7123L19.0607 16.9393L16.9393 19.0607L21.7123 23.8336L23.8336 21.7123ZM19.0607 16.9393L14.2877 12.1664L12.1664 14.2877L16.9393 19.0607L19.0607 16.9393Z" fill="url(#paint0_linear_19_3122)"/>
          <defs>
            <linearGradient id="paint0_linear_19_3122" x1="4.5" y1="18" x2="31.5" y2="18" gradientUnits="userSpaceOnUse">
              <stop stop-color="#F2008C"/>
              <stop offset="1" stop-color="#E74936"/>
            </linearGradient>
          </defs>
        </svg>
      </span>
    </summary>


    <div id="menu-drawer" class="gradient menu-drawer motion-reduce !bg-black !text-white">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
        
          <nav class="menu-drawer__navigation">

            <div
              class="menu-drawer__menu-item_ header-icon--close focus-inset cursor-pointer mb-5"
              aria-label="{{ 'sections.header.menu' | t }}"
              >
              <span>
                <!-- Close Icon -->
                <svg class="icon icon-close" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                  <path d="M23.8336 14.2877C24.4194 13.7019 24.4194 12.7522 23.8336 12.1664C23.2478 11.5806 22.2981 11.5806 21.7123 12.1664L23.8336 14.2877ZM12.1664 21.7123C11.5806 22.2981 11.5806 23.2478 12.1664 23.8336C12.7522 24.4194 13.7019 24.4194 14.2877 23.8336L12.1664 21.7123ZM21.7123 23.8336C22.2981 24.4194 23.2478 24.4194 23.8336 23.8336C24.4194 23.2478 24.4194 22.2981 23.8336 21.7123L21.7123 23.8336ZM14.2877 12.1664C13.7019 11.5806 12.7522 11.5806 12.1664 12.1664C11.5806 12.7522 11.5806 13.7019 12.1664 14.2877L14.2877 12.1664ZM30 18C30 24.6274 24.6274 30 18 30V33C26.2843 33 33 26.2843 33 18H30ZM18 30C11.3726 30 6 24.6274 6 18H3C3 26.2843 9.71573 33 18 33V30ZM6 18C6 11.3726 11.3726 6 18 6V3C9.71573 3 3 9.71573 3 18H6ZM18 6C24.6274 6 30 11.3726 30 18H33C33 9.71573 26.2843 3 18 3V6ZM21.7123 12.1664L16.9393 16.9393L19.0607 19.0607L23.8336 14.2877L21.7123 12.1664ZM16.9393 16.9393L12.1664 21.7123L14.2877 23.8336L19.0607 19.0607L16.9393 16.9393ZM23.8336 21.7123L19.0607 16.9393L16.9393 19.0607L21.7123 23.8336L23.8336 21.7123ZM19.0607 16.9393L14.2877 12.1664L12.1664 14.2877L16.9393 19.0607L19.0607 16.9393Z" fill="url(#paint0_linear_19_3122)"/>
                  <defs>
                    <linearGradient id="paint0_linear_19_3122" x1="4.5" y1="18" x2="31.5" y2="18" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#F2008C"/>
                      <stop offset="1" stop-color="#E74936"/>
                    </linearGradient>
                  </defs>
                </svg>
              </span>
            </div>


            <!-- REMOVE LATER: Static Content for Mobile Navigation -->
            <div class="footer-megamenu_">
              <div class="mobile-menu-accordion accordion">
                <details id="Details-1-{{ section.id }}" class="mb-7">
                  <summary class="rounded-[70px] h-[66px] py-3 px-9 pr-4 bg-pink flex justify-between items-center" style="background: var(--Hamburger-Menu-CTA-BG, linear-gradient(90deg, #F2008C 0%, #E74936 100%));">
                    <p class="text-[18.534px] tracking-[-0.927px] font-bold uppercase leading-none">SHOP</p>
                    <div class="mush-icon-caret">
                      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                        <path d="M10.2861 14.3392L17.7874 21.2144L25.2861 14.3392" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </div>
                  </summary>
                  <div class="accordion__content rte pt-4" id="ProductAccordion-1-{{ section.id }}">
                    <ul class="!pl-0 flex flex-col gap-5">
                      <li class="py-3 px-9 pr-3 leading-none rounded-[70px] flex items-center justify-between" style="border: 3px solid var(--Linear, #F2008C);">
                        <span class="text-[18.534px] tracking-[-0.927px] uppercase "><a href="/products/day-shrooms">Day Shrooms</a></span>
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                          <path d="M14.3387 25.7144L21.2139 18.2131L14.3387 10.7144" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </li>
                    </ul>
                  </div>
                </details>


                <details id="Details-1-{{ section.id }}" class="mb-7">
                  <summary class="rounded-[70px] h-[66px] py-3 px-9 pr-4 bg-pink flex justify-between items-center" style="background: var(--Hamburger-Menu-CTA-BG, linear-gradient(90deg, #F2008C 0%, #E74936 100%));">
                    <p class="text-[18.534px] tracking-[-0.927px] font-bold uppercase leading-none">Learn</p>
                    <div class="mush-icon-caret">
                      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                        <path d="M10.2861 14.3392L17.7874 21.2144L25.2861 14.3392" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </div>
                  </summary>
                  <div class="accordion__content rte pt-4" id="ProductAccordion-1-{{ section.id }}">
                    <ul class="!pl-0 flex flex-col gap-5">
                      <li class="py-3 px-9 pr-3 leading-none rounded-[70px] flex items-center justify-between" style="border: 3px solid var(--Linear, #F2008C);">
                        <span class="text-[18.534px] tracking-[-0.927px] uppercase "><a href="/pages/why-mushroom">Why Mushroom</a></span>
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                          <path d="M14.3387 25.7144L21.2139 18.2131L14.3387 10.7144" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </li>
                      <li class="py-3 px-9 pr-3 leading-none rounded-[70px] flex items-center justify-between" style="border: 3px solid var(--Linear, #F2008C);">
                        <span class="text-[18.534px] tracking-[-0.927px] uppercase "><a href="/pages/about-us">About Us</a></span>
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                          <path d="M14.3387 25.7144L21.2139 18.2131L14.3387 10.7144" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </li>
                      <li class="py-3 px-9 pr-3 leading-none rounded-[70px] flex items-center justify-between" style="border: 3px solid var(--Linear, #F2008C);">
                        <span class="text-[18.534px] tracking-[-0.927px] uppercase "><a href="/blogs/the-mush-blog">Blog</a></span>
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                          <path d="M14.3387 25.7144L21.2139 18.2131L14.3387 10.7144" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </li>
                    </ul>
                  </div>
                </details>
              </div>

              <div class="flex gap-4">
                <div class="rounded-[70px] w-full h-[66px] py-3 px-9 flex items-center justify-center" style="background: var(--Hamburger-Menu-CTA-BG, linear-gradient(90deg, #F2008C 0%, #E74936 100%));">
                  <p class="text-[18.534px] tracking-[-0.927px] font-bold uppercase leading-none"><a href="/pages/faqs">
                  FAQ
                </a></p>
                </div>
                <div class="rounded-[70px] w-full h-[66px] py-3 px-9 flex items-center justify-center" style="background: var(--Hamburger-Menu-CTA-BG, linear-gradient(90deg, #F2008C 0%, #E74936 100%));">
                  <p class="text-[18.534px] tracking-[-0.927px] font-bold uppercase leading-none"><a href="mailto:hey@mushpreneur.com">Contact</a></p>
                </div>
              </div>


            </div>


            <!-- TODO: Hiding this now since we're adding static content as of now -->
            <ul class="menu-drawer__menu has-submenu list-menu !text-white" style="display:none !important" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset !text-white{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        <span class="svg-wrapper">
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </span>
                        <span class="svg-wrapper">
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </span>
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            <span class="svg-wrapper">
                              {{- 'icon-arrow.svg' | inline_asset_content -}}
                            </span>
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      <span class="svg-wrapper">
                                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                                      </span>
                                      <span class="svg-wrapper">
                                        {{- 'icon-caret.svg' | inline_asset_content -}}
                                      </span>
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        <span class="svg-wrapper">
                                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                                        </span>
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset !text-white{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>



          </nav>
          {% comment %} <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
                rel="nofollow"
              >
                {%- if section.settings.enable_customer_avatar -%}
                  <account-icon>
                    {%- if customer and customer.has_avatar? -%}
                      {{ customer | avatar }}
                    {%- else -%}
                      <span class="svg-wrapper">
                        {{- 'icon-account.svg' | inline_asset_content -}}
                      </span>
                    {%- endif -%}
                  </account-icon>
                {%- else -%}
                  <span class="svg-wrapper">
                    {{- 'icon-account.svg' | inline_asset_content -}}
                  </span>
                {%- endif -%}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-twitter.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-facebook.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-pinterest.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-instagram.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tiktok.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tumblr.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-snapchat.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-youtube.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-vimeo.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </details>
</header-drawer>
