<div class="quantity--atc py-10">
    <div class="flex gap-4">
        <div class="price-per-item__container">
            <quantity-input class="quantity" data-url="{{ product.url }}" data-section="{{ section.id }}">
                    <button class="quantity__button" name="minus" type="button">
                    <span class="visually-hidden">
                        {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                    </span>
                    <span class="svg-wrapper">
                        {{- 'icon-minus.svg' | inline_asset_content -}}
                    </span>
                    </button>
                    <input
                    class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    data-cart-quantity="{{ cart_qty }}"
                    data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                        data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                        max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                    {% endif %}
                    step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                    value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    form="{{ product_form_id }}"
                    >
                    <button class="quantity__button" name="plus" type="button">
                    <span class="visually-hidden">
                        {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                    </span>
                    <span class="svg-wrapper">
                        {{- 'icon-plus.svg' | inline_asset_content -}}
                    </span>
                    </button>
            </quantity-input>
        </div>
    </div>
</div>