
<style>
    .password-header-fixed{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
    }
</style>
<header class="custom--header section-header main-theme-header header_ bg-black flex items-center justify-center px-5 xl:px-20 py-[34px] lg:py-[22px] xl:py-[28px] text-black">
    <div class="w-fit">
      <a href="/" class="block flex justify-center">
        <img src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/Mushpreneur_Logo--White.png?v=1738159833" class="w-[148px] lg:w-[250px]" alt="Mushpreneur Logo">
      </a>

      <password-modal>
        <details class="password-modal modal">
          <summary class="modal__toggle" aria-haspopup="dialog">
            <div class="modal__toggle-open password-link link underlined-link text-white">
              <span class="svg-wrapper">
                {{- 'icon-padlock.svg' | inline_asset_content -}}
              </span>
              {{ 'general.password_page.login_password_button' | t }}
            </div>
            <div class="modal__toggle-close" aria-hidden="true">
              <span class="svg-wrapper">
                {{- 'icon-close.svg' | inline_asset_content -}}
              </span>
            </div>
          </summary>
          <div
            class="modal__content h-screen"
            role="dialog"
            aria-labelledby="DialogHeading"
            aria-modal="true"
          >
            <div class="password-modal__content" tabindex="-1">
              <button type="button" class="modal__close-button link" aria-label="{{ 'accessibility.close' | t }}">
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
              <h2 class="password-modal__content-heading" id="DialogHeading">
                {{ 'general.password_page.login_form_heading' | t }}
              </h2>
              {%- form 'storefront_password', class: 'password-form' -%}
                <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                  <input
                    type="password"
                    name="password"
                    id="Password"
                    class="field__input"
                    autocomplete="current-password"
                    {% if form.errors %}
                      aria-invalid="true"
                      aria-describedby="PasswordLoginForm-password-error"
                    {%- endif -%}
                    placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                  >
                  <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">
                    {{- 'general.password_page.login_form_password_placeholder' | t -}}
                  </label>
                  {%- if form.errors -%}
                    <div id="PasswordLoginForm-password-error" role="status">
                      <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                      <span class="form__message">
                        <span class="svg-wrapper">
                          {{- 'icon-error' | inline_asset_content -}}
                        </span>
                        {{ 'general.password_page.login_form_error' | t -}}
                      </span>
                    </div>
                  {%- endif -%}
                </div>
                <button name="commit" class="password-button button button--outline btn mx-auto">
                  {{ 'general.password_page.login_form_submit' | t }}
                </button>
              {%- endform -%}
              <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
            </div>
          </div>
        </details>
      </password-modal>


</header>


{% schema %}
    {
      "name": "t:sections.main-password-header.name",
      "class": "password-header-fixed",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main-password-header.settings.logo_header.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-password-header.settings.logo_help.content"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        }
      ]
    }
{% endschema %}