<style>

    #mush--benefits-overview .section-bg{
        background-image: url({{ section.settings.mobile_background_image | image_url }}); 
        background-size: 100%; 
        background-repeat: no-repeat;
        background-position: center 15%;
    }

    @media (min-width: 990px) {
        #mush--benefits-overview .section-bg{
            background-image: url({{ section.settings.desktop_background_image | image_url }});background-size: 100%; 
            background-repeat: no-repeat;
            background-position: center bottom 25%;
        }
    }
</style>


<section id="mush--benefits-overview">
    <div class="section-wrapper pt-[32px] lg:pt-[75px] bg-mustard">

        <div class="px-5 lg:px-[54px] pb-12 lg:pb-[300px] 3xl:pb-[380px] text-center section-bg" 
        >
            <h2 class="text-black text-center text-[28px] lg:text-[64px] font-bold mb-2 lg:mb-5 tracking-[-1.4px] lg:tracking-[-3.2px] leading-none
            {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}
            "      
            >
                {{ section.settings.main_heading }}
            </h2>

            <p class="lg:px-20 text-black text-base lg:text-[28px] tracking-[-0.8px] lg:tracking-[-1.4px] leading-[1.1] pb-[393px] lg:pb-[164px]">
                {{ section.settings.main_description }}
            </p>


            <div class="flex justify-between gap-6 lg:gap-20 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                <div class="text-black">
                    <div class="mb-6 lg:mb-[64px]">
                        <h3 class="text-base lg:text-2xl xl:text-[34px] text-black font-semibold tracking-[-0.8px] lg:tracking-[-1.2px] xl:tracking-[-1.7px] leading-none mb-1 lg:mb-2 xl:mb-2.5">
                            {{ section.settings.benefit_1_title }}
                        </h3>
                        <p class="text-[11px] lg:text-xl xl:text-[28px] leading-[1.1] tracking-[-0.55px] lg:tracking-[-0.9px] lg:tracking-[-1.4px]">
                            {{ section.settings.benefit_1_description }}
                        </p>
                    </div>
                    <div class="">
                        <h3 class="text-base lg:text-2xl xl:text-[34px] text-black font-semibold tracking-[-0.8px] lg:tracking-[-1.2px] xl:tracking-[-1.7px] leading-none mb-1 lg:mb-2 xl:mb-2.5">
                            {{ section.settings.benefit_2_title }}
                        </h3>
                        <p class="text-[11px] lg:text-xl xl:text-[28px] leading-[1.1] tracking-[-0.55px] lg:tracking-[-0.9px] lg:tracking-[-1.4px]">
                            {{ section.settings.benefit_2_description }}
                        </p>
                    </div>
                </div>


                <div class="text-black">
                    <div class="mb-6 lg:mb-[64px]">
                        <h3 class="text-base lg:text-2xl xl:text-[34px] text-black font-semibold tracking-[-0.8px] lg:tracking-[-1.2px] xl:tracking-[-1.7px] leading-none mb-1 lg:mb-2 xl:mb-2.5">
                            {{ section.settings.benefit_3_title }}
                        </h3>
                        <p class="text-[11px] lg:text-xl xl:text-[28px] leading-[1.1] tracking-[-0.55px] lg:tracking-[-0.9px] lg:tracking-[-1.4px]">
                            {{ section.settings.benefit_3_description }}
                        </p>
                    </div>
                    <div class="">
                        <h3 class="text-base lg:text-2xl xl:text-[34px] text-black font-semibold tracking-[-0.8px] lg:tracking-[-1.2px] xl:tracking-[-1.7px] leading-none mb-1 lg:mb-2 xl:mb-2.5">
                            {{ section.settings.benefit_4_title }}
                        </h3>
                        <p class="text-[11px] lg:text-xl xl:text-[28px] leading-[1.1] tracking-[-0.55px] lg:tracking-[-0.9px] lg:tracking-[-1.4px]">
                            {{ section.settings.benefit_4_description }}
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>


{%  schema  %} 
    {
        "name": "Benefits Overview",
        "class": "section--benefits-overview",
        "settings": [
            {
                "type": "image_picker",
                "id": "mobile_background_image",
                "label": "Mobile Background Image",
                "info": "Recommended size: 750x1334px"
            },
            {
                "type": "image_picker",
                "id": "desktop_background_image",
                "label": "Desktop Background Image",
                "info": "Recommended size: 1920x1080px"
            },
            {
                "type": "text",
                "id": "main_heading",
                "label": "Main Heading",
                "default": "Coffee Is Canceled.\nIt's Time for Day Shrooms."
            },
            {
                "type": "textarea",
                "id": "main_description",
                "label": "Main Description",
                "default": "Tired of coffee's jitters, crashes, and chaos? Day Shrooms rewrites the rules with a powerful blend of functional mushrooms, nootropics, adaptogens, and vitamins to fuel your focus, energy, and calm—all without the side effects."
            },
            {
                "type": "text",
                "id": "benefit_1_title",
                "label": "Benefit 1 Title",
                "default": "Focus Without the Chaos"
            },
            {
                "type": "textarea",
                "id": "benefit_1_description",
                "label": "Benefit 1 Description",
                "default": "No more jitters or crashes— just calm, productive energy."
            },
            {
                "type": "text",
                "id": "benefit_2_title",
                "label": "Benefit 2 Title",
                "default": "Sustained Energy"
            },
            {
                "type": "textarea",
                "id": "benefit_2_description",
                "label": "Benefit 2 Description",
                "default": "All-day stamina fueled by natural nootropics and adaptogens."
            },
            {
                "type": "text",
                "id": "benefit_3_title",
                "label": "Benefit 3 Title",
                "default": "Stress-Free Performance"
            },
            {
                "type": "textarea",
                "id": "benefit_3_description",
                "label": "Benefit 3 Description",
                "default": "Stay cool under pressure with calm confidence."
            },
            {
                "type": "text",
                "id": "benefit_4_title",
                "label": "Benefit 4 Title",
                "default": "Daily Flow"
            },
            {
                "type": "textarea",
                "id": "benefit_4_description",
                "label": "Benefit 4 Description",
                "default": "Minimize distractions and unlock your productivity potential."
            }
        ],
        "presets": [
            {
                "name": "Benefits Overview"
            }
        ]
    } 
{% endschema %}