<section id="mush--why-mushroom-usp">
    <div class="section-wrapper text-white relative" style="background-color: {{ section.settings.background }};">
        <div class="rounded-t-[26px] lg:rounded-t-[42px] xl:rounded-t-[96px] px-[26px] lg:px-12 xl:px-[140px] py-[30px] pb-0 lg:py-[60px] xl:py-[110px]" style="background: {{ section.settings.foreground }};">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-[56px] lg:gap-24 py-12 text-white items-center relative mb-6 xl:mb-[62px] {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                <div class="px-4 xl:px-0">
                    <h3 class="text-[28px] xl:text-[48px] tracking-[-1.4px] xl:tracking-[-2.4px] leading-[1.1] font-bold mb-6 xl:mb-[52px] text-white">
                       {{ section.settings.header }}
                    </h3>
                    <p class="text-sm xl:text-[28px] tracking-[-0.7px] xl:tracking-[-1.4px] leading-[1.2]">
                        {{ section.settings.subheader }}
                    </p>
                </div>
                <div class="relative px-6 xl:px-0">
                    <!-- Divider: Mobile  -->
                    <div class="lg:hidden absolute left-1/2 -translate-x-1/2 -top-[28px] h-[2px] w-full bg-white">

                    </div>

                    <h4 class="text-base xl:text-[34px] tracking-[-0.8px] xl:tracking-[-1.7px] leading-[1.2] font-bold mb-7 xl:mb-[58px] text-white">
                        {{ section.settings.prod_header }}
                    </h4>

                    <ul class="flex flex-col justify-center gap-6 xl:gap-10 ml-10 xl:ml-0">
                        {% for block in section.blocks %}
                            <div class="flex items-center gap-4 xl:gap-7">
                                <span class="w-10 xl:w-12 flex justify-center">
                                    {{ block.settings.svg }}
                                </span>
                                <span class="text-base xl:text-[36px] tracking-[-0.8px] xl:tracking-[-1.8px] font-medium">
                                    {{ block.settings.tex }}
                                </span>
                            </div>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Divider -->
                <div class="absolute inset-y-0 left-1/2 w-[4px] bg-white hidden lg:block">

                </div>
            </div>
        </div>
    </div>
</section>


{%  schema  %} 
    {
        "name": "Why Mushroom - USP",
        "class": "section--why-mushroom-usp",
        "settings": [
            {
                "type": "color",
                "id": "background",
                "label": "Background Color"
            },
            {
                "type": "color_background",
                "id": "foreground",
                "label": "Foreground Color"
            },
            {
                "type": "text",
                "id": "header",
                "label": "Header",
                "default": "Mushrooms Are Smart. Day Shrooms Are Smarter."
            },
            {
                "type": "text",
                "id": "subheader",
                "label": "Subheader",
                "default": "You’ve met the mushrooms—now meet the drink that makes them unstoppable. Day Shrooms takes the power of functional mushrooms and levels up with adaptogens, nootropics, and essential vitamins, all working in synergy to create an all-in-one formula for focus, energy, and calm. Say goodbye to chaos and hello to productivity—the smarter way."
            },
            {
                "type": "text",
                "id": "prod_header",
                "label": "Productivity Header",
                "default": "What Can You Accomplish When You’re More Productive?"
            }
        ],
        "blocks": [
            {
                "name": "USP",
                "type": "usp",
                "settings": [
                    {
                        "type": "html",
                        "id": "svg",
                        "label": "USP Icon"
                    },
                    {
                        "type": "text",
                        "id": "tex",
                        "label": "USP Label"
                    }
                ]
            }
           
        ],
        "presets": [
            {
                "name": "Why Mushroom - USP"
            }
        ]
    } 
{% endschema %}