<style>
    #mush--product-faqs .faq-section--padding{
        padding-top: 28px !important;
        padding-bottom: 12px !important;
    }

    #mush--product-faqs .accordion__content p{
        letter-spacing: -0.7px;
        line-height: 120%;
    }

    #mush--product-faqs .accordion{
        margin-top: 0 !important
    }

    @media (min-width: 990px) {
        #mush--product-faqs .faq-section--padding{
            padding-top: 42px !important;
            padding-bottom: 28px !important;
        }

        #mush--product-faqs .accordion__content p{
            letter-spacing: -1.2px;
        }

        #mush--product-faqs .accordion{
            margin-top: 2.5rem !important
        }
    }

    

</style>


<section id="mush--product-faqs">
    <div class="section-wrapper bg-pinkorange px-8 lg:px-12 xl:px-[195px] pt-12 lg:pt-[72px] pb-[52px] lg:pb-[132px] {% if section.settings.rounded_bottom %} rounded-b-[42px] xl:rounded-b-[96px] {% endif %} relative">
        <h2 class="text-white font-bold text-[26.84px] lg:text-[62.019px] tracking-[-1.342px] lg:tracking-[-3.101px] {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
            {{ section.settings.header }}
        </h2>
        <div class="product__accordion accordion !border-none">
            {% for block in section.blocks %}
            <details class="border-b border-white pb-2 lg:pb-3" id="Details-{{ block.id }}-{{ section.id }}" {% if forloop.first %} open {% endif %}>
                <summary class="faq-section--padding !pt-7 !lg:pt-[42px] !pb-3 !lg:pb-7 flex justify-between gap-2">
                    <p class="text-base lg:text-[34.407px] text-white font-semibold tracking-[-0.8px] lg:tracking-[-1.72px] leading-[1.1]">
                        {{ block.settings.question }}
                    </p>
                    <div class="flex-shrink-0 w-[28px] lg:w-[56px] mush-icon-caret">
                        <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none" transform="rotate(180)">
                            <path d="M16 33.6947L27.6686 23L39.3333 33.6947" stroke="white" stroke-width="4.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    

                </summary>
                <div class="accordion__content py-4_ !px-0 !overflow-visible hide-scrollbar" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                    <div class="text-white text-sm lg:text-2xl tracking-[-0.7px] lg:tracking-[-1.2px] font-light leading-[1.1] mb-5">
                        {{ block.settings.answer }}
                    </div>
                </div>
            </details>
            {% endfor %}
        </div>

    </div>
</section>


{%  schema  %} 
    {
        "name": "Product FAQs",
        "class": "section--product-faqs",
        "settings": [
            {
                "type": "text",
                "id": "header",
                "label": "Header",
                "default": "Frequently Asked Questions"
            },
            {
                "type": "checkbox",
                "id": "rounded_bottom",
                "label": "Rounded Bottom?",
                "default": true
            }
        ],
        "blocks": [
            {
                "name": "FAQ",
                "type": "faq",
                "settings": [
                    {
                        "type": "textarea",
                        "id": "question",
                        "label": "Question"
                    },
                    {
                        "type": "richtext",
                        "id": "answer",
                        "label": "Answer"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Product FAQs"
            }
        ]
    } 
{% endschema %}