<section id="mush--product-highlights">
    <div class="section-wrapper pt-[36px] lg:pt-7 pb-[60px] lg:pb-[86px] px-7 lg:px-12 xl:px-[94px] bg-black_ bg-mustard text-black">
        <h2 class="text-black text-center text-[28px] lg:text-[64px] font-bold mb-2 lg:mb-5 tracking-[-1.4px] lg:tracking-[-3.2px] leading-none {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
            {{ section.settings.main_heading }}
        </h2>
        <p class="text-base lg:text-[28px] leading-[1.1] tracking-[-0.8px] lg:tracking-[-1.4px] text-center lg:px-24 mb-12 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
            {{ section.settings.main_description }}
        </p>


        <div class="lg:bg-black text-black lg:text-white text-center rounded-[45px] xl:rounded-[114px] lg:px-[50px] xl:lg:px-[100px] lg:py-6 xl:lg:py-[50px]">
            <div class="grid grid-cols-2 xl:flex gap-7 xl:gap-11 xl:justify-between">
                <div>
                    <p class="text-[30px] lg:text-[45px] font-semibold tracking-[-1.539px] lg:tracking-[-2.25px] leading-[1.1]">{{ section.settings.highlight_1_value }}</p>
                    <p class="text-sm lg:text-lg tracking-[-0.684px] lg:tracking-[-1px] leading-[1.1]">{{ section.settings.highlight_1_description }}</p>
                </div>
                <div>
                    <p class="text-[30px] lg:text-[45px] font-semibold tracking-[-1.539px] lg:tracking-[-2.25px] leading-[1.1]">{{ section.settings.highlight_2_value }}</p>
                    <p class="text-sm lg:text-lg tracking-[-0.684px] lg:tracking-[-1px] leading-[1.1]">{{ section.settings.highlight_2_description }}</p>
                </div>
                <div>
                    <p class="text-[30px] lg:text-[45px] font-semibold tracking-[-1.539px] lg:tracking-[-2.25px] leading-[1.1]">{{ section.settings.highlight_3_value }}</p>
                    <p class="text-sm lg:text-lg tracking-[-0.684px] lg:tracking-[-1px] leading-[1.1]">{{ section.settings.highlight_3_description }}</p>
                </div>
                <div>
                    <p class="text-[30px] lg:text-[45px] font-semibold tracking-[-1.539px] lg:tracking-[-2.25px] leading-[1.1]">{{ section.settings.highlight_4_value }}</p>
                    <p class="text-sm lg:text-lg tracking-[-0.684px] lg:tracking-[-1px] leading-[1.1]">{{ section.settings.highlight_4_description }}</p>
                </div>
                <div class="col-span-2 xl:col-span-1">
                    <p class="text-[30px] lg:text-[45px] font-semibold tracking-[-1.539px] lg:tracking-[-2.25px] leading-[1.1]">{{ section.settings.highlight_5_value }}</p>
                    <p class="text-sm lg:text-lg tracking-[-0.684px] lg:tracking-[-1px] leading-[1.1]">{{ section.settings.highlight_5_description }}</p>
                </div>
            </div>

        </div>
    </div>

</section>


{%  schema  %} 
    {
        "name": "Product Highlights",
        "class": "section--product-highlights",
        "settings": [
            {
                "type": "text",
                "id": "main_heading",
                "label": "Main Heading",
                "default": "What Powers Day Shrooms?"
            },
            {
                "type": "textarea",
                "id": "main_description",
                "label": "Main Description",
                "default": "A powerful blend of functional mushrooms, nootropics, adaptogens, and vitamins —all working together to fuel your focus, energy, and calm."
            },
            {
                "type": "text",
                "id": "highlight_1_value",
                "label": "Highlight 1 Value",
                "default": "2000mg"
            },
            {
                "type": "textarea",
                "id": "highlight_1_description",
                "label": "Highlight 1 Description",
                "default": "Fruiting Body <br/> Mushrooms"
            },
            {
                "type": "text",
                "id": "highlight_2_value",
                "label": "Highlight 2 Value",
                "default": "60mg"
            },
            {
                "type": "textarea",
                "id": "highlight_2_description",
                "label": "Highlight 2 Description",
                "default": "Caffeine derived <br/> from Green Tea"
            },
            {
                "type": "text",
                "id": "highlight_3_value",
                "label": "Highlight 3 Value",
                "default": "850mg"
            },
            {
                "type": "textarea",
                "id": "highlight_3_description",
                "label": "Highlight 3 Description",
                "default": "Natural Nootropics & <br/> Adaptogens"
            },
            {
                "type": "text",
                "id": "highlight_4_value",
                "label": "Highlight 4 Value",
                "default": "200mg"
            },
            {
                "type": "textarea",
                "id": "highlight_4_description",
                "label": "Highlight 4 Description",
                "default": "L-theanine for <br/> reduced jitters"
            },
            {
                "type": "text",
                "id": "highlight_5_value",
                "label": "Highlight 5 Value",
                "default": "100% DV"
            },
            {
                "type": "textarea",
                "id": "highlight_5_description",
                "label": "Highlight 5 Description",
                "default": "100%of your daily <br/> vitamins B12 & D2"
            }
        ],
        "presets": [
            {
                "name": "Product Highlights"
            }
        ]
    } 
{% endschema %}