<section id="mush--coming-soon-profsplit">
    <div class="section-wrapper grid grid-cols-1 xl:grid-cols-2 gap-0 items-center text-white relative" style="background: {{ section.settings.background }};">
        <div class="prof--img">
            <!-- Professor Image: Desktop -->
            <div class="hidden xl:block w-full">
                <img class="w-full" src="{{ section.settings.img_desk |  img_url: 'master' }}" alt="Professor Image">
            </div>

            <!-- Professor Image: Mobile -->
            <div class="xl:hidden w-full">
                <img class="w-full" src="{{ section.settings.img_mob |  img_url: 'master' }}" alt="Professor Image">
            </div>
        </div>
        <div class="px-[40px] xl:px-[120px] py-[105px]">
            <h2 class="text-white text-left text-[38px] xl:text-[60px] tracking-[-1.9px] xl:tracking-[-3px] font-semibold leading-[1.1] mb-3.5 mb-7 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                {{ section.settings.title }}
            </h2>
            <p class="text-base xl:text-2xl tracking-[-0.8px] xl:tracking-[-1.2px] text-left {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                {{ section.settings.subtitle }}
            </p>
        </div>


        
        


    </div>
</section>



{%  schema  %} 
    {
        "name": "Coming Soon - Prof Split",
        "class": "section--coming-soon-profsplit",
        "settings": [
            {
                "type": "color_background",
                "id": "background",
                "label": "Background Color"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "The Smarter <br/> Coffee Alternative"
            },
            {
                "type": "textarea",
                "id": "subtitle",
                "label": "Sub",
                "default": "Day Shrooms isn’t just a coffee alternative—it’s a no-BS upgrade for thinkers, creators, and doers. Powered by functional mushrooms, nootropics, and adaptogens, it’s crafted to deliver focus, energy, and calm without compromise. The future of productivity starts here."
            },
            {
                "type": "image_picker",
                "id": "img_desk",
                "label": "Image - Desktop"
            },
            {
                "type": "image_picker",
                "id": "img_mob",
                "label": "Image - Mobile"
            }

        ],
        "presets": [
            {
                "name": "Coming Soon - Prof Split"
            }
        ]
    } 
{% endschema %}